openapi: 3.1.0
info:
  title: ALIM
  version: 0.1.0
  description: >
    ALIM aide les professionnels de la nutrition à générer des fiches recettes
    cadrées à partir d'un brief patient anonymisé. La bêta publique couvre deux
    situations : diabète de type 2 + HTA, et grossesse + diabète gestationnel.
servers:
  - url: https://alim.care
paths:
  /api/v1/me:
    get:
      operationId: getAlimAccount
      summary: Vérifier le compte ALIM actif
      description: Vérifie le compte ALIM connecté, le statut et le quota restant.
      security:
        - alimOAuth:
            - alim.generate
      responses:
        "200":
          description: Compte actif
        "401":
          description: Clé manquante ou invalide
        "403":
          description: Compte non actif ou clé désactivée
  /api/v1/generate:
    post:
      operationId: generateClinicalRecipe
      summary: Générer une recette nutritionnelle cadrée
      description: Génère une fiche ALIM v1 avec nutrition, garde-fous, sources et lien PDF.
      security:
        - alimOAuth:
            - alim.generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlimRecipeRequest"
      responses:
        "200":
          description: Recette cadrée générée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlimRecipeResponse"
        "401":
          description: Clé manquante ou invalide
        "403":
          description: Compte ALIM non actif ou clé désactivée
        "422":
          description: Brief refusé ou hors périmètre bêta
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlimRefusalResponse"
        "429":
          description: Quota atteint
        "500":
          description: Erreur interne ALIM
  /api/v1/scan-recipe:
    post:
      operationId: scanRecipeText
      summary: Scanner une recette externe
      description: Analyse une recette copiée par le praticien, calcule les nutriments via CIQUAL, applique les garde-fous ALIM et propose des corrections.
      security:
        - alimOAuth:
            - alim.generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScanRecipeRequest"
      responses:
        "200":
          description: Analyse de recette réalisée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanRecipeResponse"
        "401":
          description: Clé manquante ou invalide
        "403":
          description: Compte ALIM non actif ou clé désactivée
        "422":
          description: Recette non analysable ou brief hors périmètre
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlimRefusalResponse"
        "429":
          description: Quota atteint
  /api/v1/scan-recipe-url:
    post:
      operationId: scanRecipeUrl
      summary: Scanner une recette depuis une URL
      description: Récupère une page recette publique, extrait les ingrédients, calcule via CIQUAL et applique les garde-fous ALIM.
      security:
        - alimOAuth:
            - alim.generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScanRecipeUrlRequest"
      responses:
        "200":
          description: Analyse de recette depuis URL réalisée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanRecipeResponse"
        "401":
          description: Clé manquante ou invalide
        "403":
          description: Compte ALIM non actif ou clé désactivée
        "422":
          description: URL non extractible, non sûre, ou brief hors périmètre
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlimRefusalResponse"
        "429":
          description: Quota atteint
  /api/v1/recipes:
    get:
      operationId: listSavedRecipes
      summary: Lister les recettes enregistrées
      description: Liste les recettes anonymisées enregistrées dans le compte ALIM.
      security:
        - alimOAuth:
            - alim.generate
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Recherche texte optionnelle sur titre, tags ou contexte.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        "200":
          description: Recettes du compte
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedRecipeListResponse"
    post:
      operationId: saveGeneratedRecipe
      summary: Enregistrer une recette ALIM
      description: Enregistre une recette anonymisée générée par ALIM dans la bibliothèque du compte.
      security:
        - alimOAuth:
            - alim.generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveRecipeRequest"
      responses:
        "201":
          description: Recette enregistrée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedRecipeResponse"
        "422":
          description: Refus si donnée nominative détectée
  /api/v1/recipes/{recipe_id}:
    get:
      operationId: getSavedRecipe
      summary: Récupérer une recette enregistrée
      description: Récupère la fiche complète d'une recette sauvegardée.
      security:
        - alimOAuth:
            - alim.generate
      parameters:
        - in: path
          name: recipe_id
          required: true
          schema:
            type: string
            pattern: "^recipe_[0-9]+$"
      responses:
        "200":
          description: Recette complète
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedRecipeResponse"
        "404":
          description: Recette introuvable
    delete:
      operationId: deleteSavedRecipe
      summary: Supprimer une recette enregistrée
      description: Supprime une recette de la bibliothèque du compte.
      security:
        - alimOAuth:
            - alim.generate
      parameters:
        - in: path
          name: recipe_id
          required: true
          schema:
            type: string
            pattern: "^recipe_[0-9]+$"
      responses:
        "200":
          description: Recette supprimée
components:
  securitySchemes:
    alimOAuth:
      type: oauth2
      description: >
        Connexion OAuth ALIM pour ChatGPT Actions. Le praticien autorise ChatGPT
        depuis alim.care avec sa clé ALIM ; ChatGPT reçoit ensuite un token Bearer.
      flows:
        authorizationCode:
          authorizationUrl: https://alim.care/oauth/authorize
          tokenUrl: https://alim.care/oauth/token
          scopes:
            alim.generate: Générer des fiches recettes ALIM et lire le profil du compte.
  schemas:
    AlimRecipeRequest:
      type: object
      additionalProperties: false
      properties:
        pathologies:
          type: array
          minItems: 1
          maxItems: 4
          items:
            type: string
            enum:
              - diabete_t2
              - hta
              - diabete_gestationnel
              - grossesse
          description: >
            Pathologies ou situations couvertes. Génération bêta :
            [diabete_t2, hta] ou [grossesse, diabete_gestationnel].
            Scanner de recette : accepte aussi [diabete_t2] seul.
        diet_type:
          type: string
          enum:
            - omnivore
            - vegetarien
            - vegan
            - pescetarien
            - sans_gluten
            - sans_lactose
          default: omnivore
        season:
          type: string
          enum:
            - printemps
            - ete
            - automne
            - hiver
            - all
          default: all
        meal_slot:
          type: string
          enum:
            - petit_dejeuner
            - dejeuner
            - diner
            - collation
          default: dejeuner
        portions:
          type: integer
          minimum: 1
          maximum: 8
          default: 1
        equipment:
          type: array
          maxItems: 8
          items:
            type: string
            enum:
              - plaque
              - four
              - vapeur
              - micro_ondes
              - blender
          description: Équipement réellement disponible chez le patient.
        notes:
          type: string
          maxLength: 600
          description: >
            Brief anonymisé : goûts, contraintes, préférences, allergies simples,
            hypothèses utilisées. Ne jamais inclure de donnée patient nominative.
      required:
        - pathologies
        - meal_slot
    ScanRecipeRequest:
      type: object
      additionalProperties: false
      properties:
        recipe_text:
          type: string
          minLength: 20
          maxLength: 5000
          description: >
            Texte copié de la recette externe, avec ingrédients quantifiés.
            V0 : ne pas envoyer une URL seule ; demander au praticien de coller le texte.
        title_fr:
          type: string
          maxLength: 160
          default: Recette scannée
        brief:
          $ref: "#/components/schemas/AlimRecipeRequest"
      required:
        - recipe_text
        - brief
    ScanRecipeUrlRequest:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
          format: uri
          maxLength: 500
          description: URL publique http/https d'une page recette. Les URLs locales ou internes sont refusées.
        title_fr:
          type: string
          maxLength: 160
          default: Recette scannée depuis URL
        brief:
          $ref: "#/components/schemas/AlimRecipeRequest"
      required:
        - url
        - brief
    ScanRecipeResponse:
      type: object
      properties:
        ok:
          type: boolean
        scan_type:
          type: string
        verdict:
          type: object
          properties:
            status:
              type: string
              enum:
                - green
                - orange
                - red
            label_fr:
              type: string
            summary_fr:
              type: string
        brief:
          $ref: "#/components/schemas/AlimRecipeRequest"
        title_fr:
          type: string
        portion_g:
          type: number
        ingredients_matched:
          type: array
          items:
            type: object
            properties:
              input_label_fr:
                type: string
              name_fr:
                type: string
              quantity_g:
                type: number
              ciqual_code:
                type: string
              match_score:
                type: number
        unmatched_lines:
          type: array
          items:
            type: string
        nutrients_per_portion:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/NutrientValue"
        coverage_summary:
          $ref: "#/components/schemas/CoverageSummary"
        failures:
          type: array
          items:
            type: string
        suggestions_fr:
          type: array
          items:
            type: string
        rules_applied:
          type: array
          items:
            type: string
        sources:
          type: array
          items:
            $ref: "#/components/schemas/Source"
        references_consulted:
          type: array
          items:
            $ref: "#/components/schemas/ReferenceConsulted"
        warnings:
          type: array
          items:
            type: string
        presentation_markdown_fr:
          type: string
          description: Analyse Markdown prête à afficher au praticien.
        url_scan:
          type: object
          properties:
            url:
              type: string
            final_url:
              type: string
            extraction_method:
              type: string
            ingredients_count:
              type: integer
            title_fr:
              type: string
      required:
        - ok
        - verdict
        - ingredients_matched
        - nutrients_per_portion
        - failures
        - suggestions_fr
        - presentation_markdown_fr
    NutrientValue:
      type: object
      properties:
        value:
          type: number
        source:
          type: string
        confidence:
          type: string
      required:
        - value
        - source
        - confidence
    Ingredient:
      type: object
      properties:
        name_fr:
          type: string
        quantity_g:
          type: number
        ciqual_code:
          type:
            - string
            - "null"
      required:
        - name_fr
        - quantity_g
        - ciqual_code
    NutritionPanelItem:
      type: object
      properties:
        key:
          type: string
        label_fr:
          type: string
        value:
          type: number
        unit:
          type: string
        source:
          type: string
        confidence:
          type: string
      required:
        - key
        - label_fr
        - value
        - unit
    IngredientDetailed:
      type: object
      properties:
        label_fr:
          type: string
        name_fr:
          type: string
        quantity_g:
          type: number
        ciqual_code:
          type:
            - string
            - "null"
      required:
        - label_fr
        - name_fr
        - quantity_g
        - ciqual_code
    ProfessionalSheet:
      type: object
      description: >
        Fiche structurée à présenter au praticien et à réutiliser pour export
        PDF patient après validation clinique.
      properties:
        title_fr:
          type: string
        meal_slot:
          type: string
        meal_slot_label_fr:
          type: string
        portions:
          type: integer
        portion_g:
          type: number
        prep_time_min:
          type:
            - integer
            - "null"
        cooking_time_min:
          type:
            - integer
            - "null"
        total_time_min:
          type: integer
        difficulty_fr:
          type: string
        nutrition_panel_per_portion:
          type: array
          items:
            $ref: "#/components/schemas/NutritionPanelItem"
        macros_per_portion:
          type: object
          properties:
            calories_kcal:
              type:
                - number
                - "null"
            protein_g:
              type:
                - number
                - "null"
            carb_g:
              type:
                - number
                - "null"
            fat_g:
              type:
                - number
                - "null"
            fiber_g:
              type:
                - number
                - "null"
            salt_g:
              type:
                - number
                - "null"
        ingredients_detailed_fr:
          type: array
          items:
            $ref: "#/components/schemas/IngredientDetailed"
        preparation_steps_fr:
          type: array
          items:
            type: string
        clinical_adaptations_fr:
          type: array
          items:
            type: string
        micronutrition_highlights_fr:
          type: array
          items:
            type: object
            properties:
              focus_fr:
                type: string
              detail_fr:
                type: string
              nutrients:
                type: array
                items:
                  type: string
        patient_explanation_fr:
          type: string
        presentation_markdown_fr:
          type: string
          description: >
            Version Markdown complète prête à afficher au praticien. Le Custom
            GPT doit l'utiliser comme réponse principale sans la résumer.
        export_blocks:
          type: object
          properties:
            shopping_list_fr:
              type: array
              items:
                type: string
            substitutions_fr:
              type: array
              items:
                type: string
            serving_tips_fr:
              type: array
              items:
                type: string
            practitioner_footer_fr:
              type: string
        quality:
          type: object
          properties:
            ciqual_coverage:
              $ref: "#/components/schemas/CoverageSummary"
            disclaimer_fr:
              type: string
      required:
        - title_fr
        - meal_slot_label_fr
        - portion_g
        - nutrition_panel_per_portion
        - macros_per_portion
        - ingredients_detailed_fr
        - preparation_steps_fr
        - clinical_adaptations_fr
        - export_blocks
    Source:
      type: object
      properties:
        citation:
          type: string
        url:
          type: string
      required:
        - citation
        - url
    ReferenceConsulted:
      type: object
      properties:
        citation:
          type: string
        url:
          type: string
        status:
          type: string
          enum:
            - derived
            - to_verify
      required:
        - citation
        - url
        - status
    CoverageSummary:
      type: object
      properties:
        matched:
          type: integer
        unmatched:
          type: integer
        estimated:
          type: integer
        missing_nutrients:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              properties:
                ciqual_code:
                  type: string
                name_fr:
                  type: string
        overall_confidence:
          type: string
          enum:
            - high
            - medium
            - low
      required:
        - matched
        - unmatched
        - estimated
        - overall_confidence
    AlimRecipeResponse:
      type: object
      properties:
        recipe:
          type: object
          properties:
            name_fr:
              type: string
            portion_g:
              type: number
            ingredients:
              type: array
              items:
                $ref: "#/components/schemas/Ingredient"
            prep_time_min:
              type:
                - integer
                - "null"
            cooking_time_min:
              type:
                - integer
                - "null"
            difficulty_fr:
              type: string
            steps_fr:
              type: array
              items:
                type: string
          required:
            - name_fr
            - portion_g
            - ingredients
            - steps_fr
        nutrients_per_portion:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/NutrientValue"
        professional_sheet:
          $ref: "#/components/schemas/ProfessionalSheet"
        presentation_markdown_fr:
          type: string
          description: >
            Fiche recette complète en Markdown, prête à afficher. À privilégier
            côté Custom GPT pour éviter une réponse trop pauvre.
        pdf_url:
          type: string
          description: URL de fiche imprimable ALIM à ouvrir pour sauvegarde PDF.
        coverage_summary:
          $ref: "#/components/schemas/CoverageSummary"
        rules_applied:
          type: array
          items:
            type: string
        sources:
          type: array
          items:
            $ref: "#/components/schemas/Source"
        references_consulted:
          type: array
          description: >
            Références consultées pour des règles dérivées ou en vérification.
            Ne pas les présenter comme sources officielles directes.
          items:
            $ref: "#/components/schemas/ReferenceConsulted"
        warnings:
          type: array
          items:
            type: string
      required:
        - recipe
        - nutrients_per_portion
        - professional_sheet
        - pdf_url
        - coverage_summary
        - rules_applied
        - sources
        - warnings
    AlimRefusalResponse:
      type: object
      properties:
        refused:
          type: object
          properties:
            reason_fr:
              type: string
          required:
            - reason_fr
        warnings:
          type: array
          items:
            type: string
      required:
        - refused
    ClinicalContext:
      type: object
      properties:
        pathologies:
          type: array
          items:
            type: string
        meal_slot:
          type: string
        diet_type:
          type: string
        season:
          type: string
        notes:
          type: string
          description: Notes anonymisées seulement.
    SaveRecipeRequest:
      type: object
      additionalProperties: false
      properties:
        title_fr:
          type: string
          description: Titre lisible de la recette. Optionnel si alim_response contient déjà un titre.
        status:
          type: string
          enum:
            - draft
            - validated
            - favorite
          default: draft
        tags:
          type: array
          maxItems: 20
          items:
            type: string
        clinical_context:
          $ref: "#/components/schemas/ClinicalContext"
        alim_response:
          $ref: "#/components/schemas/AlimRecipeResponse"
          description: Réponse complète retournée par generateClinicalRecipe, sans donnée nominative.
      required:
        - alim_response
    SavedRecipeSummary:
      type: object
      properties:
        id:
          type: string
        title_fr:
          type: string
        status:
          type: string
        tags:
          type: array
          items:
            type: string
        clinical_context:
          $ref: "#/components/schemas/ClinicalContext"
        pdf_url:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        last_used_at:
          type:
            - string
            - "null"
      required:
        - id
        - title_fr
        - status
        - tags
    SavedRecipe:
      allOf:
        - $ref: "#/components/schemas/SavedRecipeSummary"
        - type: object
          properties:
            recipe_payload:
              type: object
            presentation_markdown_fr:
              type: string
    SavedRecipeResponse:
      type: object
      properties:
        ok:
          type: boolean
        recipe:
          $ref: "#/components/schemas/SavedRecipe"
      required:
        - ok
        - recipe
    SavedRecipeListResponse:
      type: object
      properties:
        ok:
          type: boolean
        recipes:
          type: array
          items:
            $ref: "#/components/schemas/SavedRecipeSummary"
      required:
        - ok
        - recipes
